.bizoo-wrap{
	max-width:1200px;
	float:none;
	margin: 50px auto;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */
 
/* 
 * Common styles for all types
 */

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border-left: 5px solid #eee;
	background: #fff;
	color: #000;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p {
	display: block;
	word-wrap: break-word;
	word-break: break-word;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
/* 
 * Tighten up space between multiple callouts
 */

.bs-callout + .bs-callout {
  margin-top: -5px;
}

/* 
 * Variations
 */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}

/* 
 * Fix debug notices that were overflowing the container
 */
pre{
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow: hidden;
}

/* 
 * Form
 */
.bizoo-form{
	
}

.bizoo-form table.form-table{
	width:100%;
}

.bizoo-form input[type="text"], 
.bizoo-form input[type="email"], 
.bizoo-form input[type="number"]{
	width:100%;
	padding: 8px 16px !important;
	height: 39px;
}

.bizoo-form .form-group:after{
	clear:both;
	content:'';
	display:table;
}

.bizoo-form select,
.bizoo-form select:focus,
.bizoo-form select:active{
	border: solid 1px #000;
}

/* 
 * Responsive
 */
@media screen and (min-width: 768px) {
	
	.bizoo-form table.form-table th{width:50%;}
	.bizoo-form table.form-table td{width:50%;}
	
	.bizoo-form label							{padding-left:0;}
	
}
